.forgot-page {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-box {
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
  }
  
  .forgot-box h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .forgot-box p {
    font-size: 0.95rem;
    margin-bottom: 20px;
    color: #666;
  }
  
  .forgot-box input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .forgot-box button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .forgot-box button:hover {
    background-color: #3730a3;
  }
  
  .forgot-links {
    margin-top: 15px;
    font-size: 0.9rem;
  }
  
  .forgot-links a {
    color: #4f46e5;
    text-decoration: none;
    font-weight: 500;
  }
  
  .forgot-links a:hover {
    text-decoration: underline;
  }
  