.hero-section {
    height: 100vh;
    background-image: url('./assets/bg.jpg'); 
    background-size: cover;            /* Ensures full coverage */
    background-position: center center;/* Centers the image */
    background-repeat: no-repeat;      /* Prevents tiling */
    background-attachment: fixed;      /* Optional: gives a parallax effect */
  
    color: white;
    text-align: center;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 0 20px;
    position: relative;
  }
  
  
  .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  }
  
  .hero-section p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }