.navbar4 {
    background-color: orange;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.04);
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .nav-logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: #cc7722;
    letter-spacing: 1px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color:white;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .nav-links li a:hover {
    background-color: #f3f3f3;
    color: #cc7722;
  }
  